
$red: #f75452;
$green: #64f573;
$buttonPrimary: #61fabf;
$buttonRadius: 1rem;


.asset-table {
    width: 70vw;
   margin-left: 15vw;
   margin-right: 15vw;
   background-color: white;
   color: black;
   padding: 5rem;

  
}
.name {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    width: 400px;
    img {
        width: 30px;
        margin-bottom: -10px;
        margin-right: 5px;
    }
    p {
        padding: 0;
    }
}

tr {
    text-align: left;
}

.price-change-pos {
color: $green;
}
.price-change-neg {
color:$red;
}

#up-arrow {
    width: 10px;
    margin-right: 5px;
}

#down-arrow {
    width: 10px;
    margin-right: 5px;
}
.chart-button {
   float:left;
   margin-right: 10px;
   background: $buttonPrimary;
   border-radius:$buttonRadius;
   border: none;
}
