
$red: #f75452;
$green: #32cf4c;
$buttonPrimary: #61fabf;
$buttonRadius: 1rem;
$background: #292e36;
$shadow:  rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
$accent: rgb(235, 238, 240);
.asset-table {
    
    width: 100vw;
   margin-left: 15vw;
   margin-right: 15vw;
   background-color: white;
   color: black;
margin-top: 30px;
   border-collapse: collapse;


  
}
.name {
    padding-left: 5rem;
    font-weight: bold;
    width: 300px;
    img {
        width: 30px;
        margin-bottom: -10px;
        margin-right: 5px;
    }
    // p {
    //     padding: 0;
    // }
    h3 {
        color: grey;
    }
}


tr {
    text-align: left;
    &:hover {
        background-color: $accent
    }
    box-shadow: $shadow;
  
}

.row td {
   
    // border-bottom: 1px solid $accent;
   

}
.name-label {
    padding-left: 5rem;
}

.price-change-pos {
color: $green;
font-weight: bold;
}
.price-change-neg {
color:$red;
font-weight: bold;
}

#up-arrow {
    width: 10px;
    margin-right: 5px;
}

#down-arrow {
    width: 10px;
    margin-right: 5px;
}
.chart-button {
   float:left;
   margin-right: 10px;
   background: $buttonPrimary;
   border-radius:$buttonRadius;
   border: none;
}
 #graph {
     text-align: center;
 }

 .circle-graph {
margin-left: 10%;
margin-bottom: 10px;

 }

 #info {
     width: 20px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: rgb(160, 193, 206);
 }
 #popover-basic {
    background: white;
    padding: 10px;
    width: 300px;
    border-radius: 2px;
    box-shadow: $shadow;
  font-size: 0.8rem;
    font-weight: bold;
 }
.header {
    box-shadow: none;
 
}