
$red: #f75452;
$green: #32cf4c;
$buttonPrimary: #61fabf;
$buttonRadius: 1rem;
$background: #292e36;

.asset-table {
    width: 100vw;
   margin-left: 15vw;
   margin-right: 15vw;
   background-color: white;
   color: black;

   border-collapse: collapse;


  
}
.name {
    // display: flex;
    // flex-direction: row;
    padding-left: 5rem;
    font-weight: bold;
    width: 300px;
    img {
        width: 30px;
        margin-bottom: -10px;
        margin-right: 5px;
    }
    // p {
    //     padding: 0;
    // }
}


tr {
    text-align: left;
  
  
}

.row td {
   
    border-bottom: 1px solid rgb(160, 193, 206);

}
.name-label {
    padding-left: 5rem;
}

.price-change-pos {
color: $green;
font-weight: bold;
}
.price-change-neg {
color:$red;
font-weight: bold;
}

#up-arrow {
    width: 10px;
    margin-right: 5px;
}

#down-arrow {
    width: 10px;
    margin-right: 5px;
}
.chart-button {
   float:left;
   margin-right: 10px;
   background: $buttonPrimary;
   border-radius:$buttonRadius;
   border: none;
}
 #graph {
     text-align: center;
 }

 .circle-graph {
margin-left: 10%;
margin-bottom: 10px;
 }

 