$background: #292e36;
$textColor: white;
$green: #32cf4c;
$red: #f75452;
$secondary: rgb(247, 243, 243); 
$shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
$accent: rgb(235, 238, 240);

.chart-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: $textColor;
    
}
.chart-asset-info {
color: black;
width: 30%;
background: $secondary;
margin-left: 50px;
.current-price {
    background: white;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    h1 {
        font-size: 1.5rem;
        color: grey;
        data {
            color: black;
            font-weight: bold;
        }
        }
    .p-change-pos {
        background: $green;
        color: white;
        border-radius: 1rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 40px
    }
    .p-change-neg {
        background: $red;
        color: white;
        border-radius: 1rem;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 40px
    }
     
}
img {
    width: 60px;
    object-fit: contain;
}
    .chart-asset-header {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
    }

    


}


.chart {
    width: 70%;
.chart-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: "space-around";
    .button {
        margin: 10px;
        border-radius: 1rem;
        border: none;
        padding: 10px;
    }
}
}

.hint {
  background:$secondary;
  opacity: 0.8;
  color: black;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: $shadow;
}
.table {
    width: 100%;
  .key {
      text-align: left;
  }
    .value {
        text-align: right;
    }
}




.highlighted-button {

border-radius: 1rem;
padding: 10px;
margin:10px;
border: none;
box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;}