$background: #292e36;
$textColor: white;

.chart-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: $textColor;
    
}
.chart-asset-info {
color: black;
width: 30%;
background: rgb(235, 230, 230);
margin-left: 50px;
}

.chart {
    width: 70%;

}