.asset-table {
    width: 50vw;
   

  
}
.name {
    display: flex;
    flex-direction: row;
    img {
        width: 30px;
        margin-bottom: -10px;
        margin-right: 5px;
    }
    p {
        padding: 0;
    }
}

tr {
    text-align: left;
}

.price-change-pos {
color: green;
}
.price-change-neg {
color: red;
}

#up-arrow {
    width: 10px;
    margin-right: 5px;
}

#down-arrow {
    width: 10px;
    margin-right: 5px;
}