$background: #292e36;
$textColor: white;

.chart-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $background;
    color: $textColor;
}