@import "./_assets";
@import "search";
$background: #292e36;
$textColor: white;

body {
    background-color: $background;
}
.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $background;
    color: $textColor;
}

#clock {
    width: 50px;
}

.time {
    font-weight: bold;
}