.asset-table {
  width: 100vw;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: white;
  color: black;
  border-collapse: collapse;
}

.name {
  padding-left: 5rem;
  width: 300px;
}

.name img {
  width: 30px;
  margin-bottom: -10px;
  margin-right: 5px;
}

.name h3 {
  color: grey;
}

tr {
  text-align: left;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

tr:hover {
  background-color: #ebeef0;
}

.name-label {
  padding-left: 5rem;
}

.price-change-pos {
  color: #32cf4c;
  font-weight: bold;
}

.price-change-neg {
  color: #f75452;
  font-weight: bold;
}

#up-arrow {
  width: 10px;
  margin-right: 5px;
}

#down-arrow {
  width: 10px;
  margin-right: 5px;
}

.chart-button {
  float: left;
  margin-right: 10px;
  background: #61fabf;
  border-radius: 1rem;
  border: none;
}

#graph {
  text-align: center;
}

.circle-graph {
  margin-left: 10%;
  margin-bottom: 10px;
}

#info {
  width: 20px;
  margin-bottom: -5px;
  margin-left: 5px;
  color: #a0c1ce;
}

#popover-basic {
  background: white;
  padding: 10px;
  width: 300px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  font-size: 0.8rem;
  font-weight: bold;
}

.header {
  -webkit-box-shadow: none;
          box-shadow: none;
}

th {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  margin-bottom: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  outline: none;
  border: none;
  width: 50%;
  height: 50px;
  border-bottom: 2px solid #0fc01d;
  font-size: 1.5rem;
  padding-left: 10px;
}

.search-bar:focus {
  outline: none;
  border-bottom: 4px solid #0fc01d;
  width: 53%;
  height: 50px;
}

.chart-page-container {
  width: 80vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  color: white;
}

.chart-asset-info {
  color: black;
  width: 30%;
  background: #f7f3f3;
  margin-left: 50px;
}

.chart-asset-info .current-price {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chart-asset-info .current-price h1 {
  font-size: 1.2rem;
  color: #3f3131;
}

.chart-asset-info .current-price h1 data {
  color: black;
  font-weight: bold;
}

.chart-asset-info .current-price .p-change-pos {
  background: #32cf4c;
  color: white;
  border-radius: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  height: 40px;
}

.chart-asset-info .current-price .p-change-neg {
  background: #f75452;
  color: white;
  border-radius: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  height: 40px;
}

.chart-asset-info img {
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chart-asset-info .chart-asset-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.chart-asset-info .chart-symbol {
  background: white;
  padding: 5px;
  border-radius: 3px;
  color: grey;
}

.chart .chart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: "space-around";
      -ms-flex-pack: "space-around";
          justify-content: "space-around";
}

.chart .chart-buttons .button {
  margin: 10px;
  border-radius: 1rem;
  border: none;
  padding: 10px;
}

.hint {
  background: #f7f3f3;
  opacity: 0.8;
  color: black;
  padding: 5px;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.table {
  width: 100%;
}

.table .key {
  text-align: left;
}

.table .value {
  text-align: right;
}

.highlighted-button {
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  border: none;
  -webkit-box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
          box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.negative {
  color: #f75452;
}

.positive {
  color: #32cf4c;
}

#down-arrow1 {
  width: 20px;
  margin-right: 5px;
}

#up-arrow1 {
  width: 20px;
  margin-right: 5px;
}

body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  color: white;
}

.logo {
  margin-top: 5vw;
  width: 20vw;
  margin-bottom: 5vw;
}

#clock {
  width: 50px;
}

.time {
  font-weight: bold;
}

@media only screen and (max-width: 1339px) {
  .chart-page-container {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    color: white;
  }
  section {
    width: 100%;
    height: 100vh;
  }
  .chart-asset-info {
    color: black;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background: #f7f3f3;
    margin: 0px;
  }
  img {
    width: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .chart-asset-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
  .chart-symbol {
    background: white;
    padding: 5px;
    border-radius: 3px;
    color: grey;
  }
  .chart {
    margin-top: 200px;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hint {
    background: #f7f3f3;
    opacity: 0.8;
    color: black;
    padding: 5px;
    border-radius: 1rem;
    -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
            box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  }
  .table {
    width: 100%;
  }
  .table .key {
    text-align: left;
  }
  .table .value {
    text-align: right;
  }
  #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 5px;
  }
  #title #symbol {
    font-weight: bold;
    font-size: 1.5rem;
  }
  #title img {
    margin-right: 5px;
  }
  .current-price {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .current-price .data-point {
    margin: 2px;
  }
  .current-price h1 {
    font-size: 1.2rem;
    color: #3f3131;
  }
  .current-price h1 data {
    color: black;
    font-weight: bold;
  }
  .chart-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: "space-around";
        -ms-flex-pack: "space-around";
            justify-content: "space-around";
    margin-bottom: 10%;
  }
  .chart-buttons .button {
    margin: 10px;
    border-radius: 1rem;
    border: none;
    padding: 10px;
  }
  .name {
    padding-left: 10px;
    font-weight: normal;
    width: 75%;
  }
  .name img {
    width: 30px;
    margin-bottom: -10px;
    margin-right: 5px;
  }
  .name img h3 {
    color: grey;
  }
  form {
    margin-bottom: 0.5vw;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-bar {
    outline: none;
    border: none;
    width: 90%;
    height: 35px;
    border: 2px solid #8e8f94;
    font-size: 1rem;
    padding-left: 10px;
  }
  .search-bar:focus {
    width: 90%;
    border: 3px solid #338ee4;
    outline: none;
    height: 35px;
    border-radius: 3px;
  }
  .logo {
    margin-top: 5vw;
    width: 50vw;
    margin-bottom: 5vw;
  }
  .link {
    text-decoration: none;
    color: black;
  }
  .link:visited {
    color: black;
  }
  .mobile-asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: black;
  }
  .circle-graph {
    width: 75px;
    height: 75px;
    margin-top: 5%;
    margin-left: -1%;
  }
  .p-change-pos {
    background: #32cf4c;
    color: white;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 100%;
  }
  .p-change-neg {
    background: #f75452;
    color: white;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 100%;
  }
  .coin-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    text-align: center;
  }
  .coin-stats h2 {
    margin-left: 10px;
  }
  .stat {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stat .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .stat svg {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -25px;
    color: #338ee4;
  }
  .stat h3 {
    margin-right: 10px;
    font-weight: normal;
  }
}
/*# sourceMappingURL=styles.css.map */